<div class="b-radio">
    <input class="b-radio__inp" name="n1" id="n1" type="radio"/>
    <label for="n1" class="b-radio__lab">
        ул. Гурзуфская, 47 Б, оф. 20
    </label>
</div>
<div class="b-radio">
    <input class="b-radio__inp" name="n1" id="n2" type="radio"/>
    <label for="n2" class="b-radio__lab">
        ул. Гурзуфская, 47 Б, оф. 20
    </label>
</div>
<div class="b-radio">
    <input class="b-radio__inp" name="n1" id="n3" type="radio"/>
    <label for="n3" class="b-radio__lab">
        <span>ул. Гурзуфская, 47 Б, оф. 20</span> <br/>
        <a href="">Сcылка</a>
    </label>
</div>

<div style="float: left" class="b-radio">
    <input class="b-radio__inp" name="n1" id="n4" type="radio"/>
    <label for="n4" class="b-radio__lab"></label>
</div>
<div style="float: left"> Я другой ! </div>
