<div class="b-control">
    <div class="b-contol__col-1">
        <label class="b-contol__label">Контактный телефон</label>
    </div>
    <div class="b-contol__col-2">
        <input required placeholder="" id="phone" type="tel" class="b-contol__input b-input"
               title="">

        <div class="b-control__hint">Пример: +7 906 123-45-67 или +7 (343) 221-24-32</div>
        <span class="b-contol__error" style="display: none;"></span>
    </div>
</div>


<div class="b-control b-control_giga">
    <div class="b-contol__col-2">
        <input required="" placeholder="" id="phone" type="tel" class="b-contol__input b-input" title="">
        <div class="b-control__hint">Пример: +7 906 123-45-67 или +7 (343) 221-24-32</div>
        <span class="b-contol__error" style="display: none;"></span>
    </div>
</div>


<div class="b-control b-control_type_row">
    <div class="b-contol__col-1">
        <label class="b-contol__label">Наименование компании</label>
    </div>
    <div class="b-contol__col-2">
        <input required="" placeholder="" id="phone" type="tel" class="b-contol__input b-input"
               title="">
    </div>
</div>
